{% extends 'dreams/base.html'%}
{% block title %}Contacts{% endblock %}
{% block content %}

<style type="text/css">
 BODY {
    background: #c6c0c0
}
</style>
<div class="container">
<h5>Вы можете позвонить нам:</h5>
  +375 25 9390288
  <br>
  <hr>
  <h5>А также написать:</h5>
  <h7>alisa.v150689@gmail.com</h7>
  <br>
  <hr>
  <h5>Здесь наше лучшее видео:</h5>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/0_84uUZqEzo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <br>
  <hr>
  <h5>Больше найдёте по ссылочке:</h5>
  <p><a href="https://www.youtube.com/@paulikhorn3581">Видео Пафнутия</a></p>
  <hr>
  <h5>Наблюдать за нашими активностями можно тут:</h5>
  <p><a href="https://instagram.com/pafnut_ka?igshid=YWJhMjlhZTc=">Инстаграм Пафнутия</a></p>

  </div>
  {% endblock %}